<div class="entities-info" ng-show="item">
    <div class="info clearfix" ng-if="parseItem.name">
        <span class="key pull-left ellipsis font-title" title="{$ 'name' | translate $}">{$ 'name' | translate $}: </span>
        <span class="value name pull-left ellipsis" title="{$ parseItem.name $}"> {$ parseItem.name $}</span>
    </div>
    <div class="info clearfix" ng-repeat="(key, value) in parseItem">
        <span class="key pull-left ellipsis keys-font font-title" title="{$ key | translate $}">{$ key | translate $}: </span>
        <span class="value pull-left ellipsis font-title" title="{$ value $}"> {$ value $}</span>
    </div>
</div>