.vitrage-sunburst {
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

  .vitrage-sunburst path {
    stroke: #313a44;
    stroke-width: 2;
    stroke-opacity: 0.1;
    fill-rule: evenodd;
  }

