include AUTHORS
include ChangeLog
exclude .gitignore
exclude .gitreview

global-exclude *.pyc

include setup.py

recursive-include vitragedashboard/enabled *
recursive-include vitragedashboard/static *
recursive-include vitragedashboard/templates *

recursive-include vitragealarms/static *
recursive-include vitragealarms/templates *

recursive-include vitrageentities/static *
recursive-include vitrageentities/templates *

recursive-include vitragetemplates/static *
recursive-include vitragetemplates/templates *

recursive-include vitrageadmintemplates/static *
recursive-include vitrageadmintemplates/templates *

recursive-include vitrageadminalarms/static *
recursive-include vitrageadminalarms/templates *

recursive-include vitrageadminentities/static *
recursive-include vitrageadminentities/templates *

recursive-include vitrageadmindashboard/static *
recursive-include vitrageadmindashboard/templates *
