include AUTHORS
include ChangeLog
exclude .gitignore
exclude .gitreview

global-exclude *.pyc

include setup.py

recursive-include vitragedashboard/enabled *
recursive-include vitragedashboard/static *
recursive-include vitragedashboard/templates *

recursive-include vitragealarms/static *
recursive-include vitragealarms/templates *

recursive-include vitrageentities/static *
recursive-include vitrageentities/templates *

recursive-include vitragetemplates/static *
recursive-include vitragetemplates/templates *