.template-container {
  overflow: auto;
  height: 100%;
  background: #ffffff;
  opacity: 0.8;

  ul {
    padding-left: 0;
    list-style-type: none;
  }

  ol.scenario-list {
    list-style-type: upper-roman;
  }

  th {
    font-size: 14px;
  }
}

.controls {
  padding: 15px;
  float: right;
  font-size: 30px;
  cursor: pointer;
}

.fa {
  display: inline;
}

.tabbed {
  padding-left: 1em;
}

.definition-block {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  summary {
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
  }

  summary:focus {
    outline: none;
  }

  pre {
    color: #000;
  }

}

.template-spinner {
  margin-left: 45%;
  margin-bottom: 5%;
}





