.root-cause-analysis-graph {

  .clickable {
    cursor: pointer;
  }

  .selectedNode rect{
    fill: #4d545c !important;
    color: #FFFFFF;
  }

  width: 100%;
  height: 100%;

  svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  text {
    font-size: 14px;
  }

  .node rect {
    width:400px;
    stroke-width: 4px;
    stroke: #455660;
    fill: #ffffff;
    color: #455660;
  }

  .node g div span.consumers {
    display: inline-block;
    width: 280px;
  }

  .edgeLabel rect {
    fill: none;
  }

  .edgeLabel div {
    width: 50px;
    color: #44575e;
  }

  .edgePath path {
    stroke: #656a70;
    stroke-width: 2.5px;
    fill: #656a70;
  }

  /* Override path marker color */
  #arrowhead {
    fill: #656a70 !important;
  }

  .fa{
    display: inline;
  }

  .controls {
    padding: 15px;
    float: right;
    font-size:30px;
    cursor: pointer;
  }

  .center-button {
    float: right;
    margin: 10px 10px 0 0;
    cursor: pointer;
  }


}