<div class="vitrage-main" ng-controller="MainController as main">
    <hz-compute></hz-compute>
    <!--<tabset>
        <tab>
            <tab-heading>
                <i class="fa fa-desktop"></i> {$ 'Compute' | translate $}
            </tab-heading>
            <div>
                <hz-compute></hz-compute>
            </div>

        </tab>

        <!--<tab>-->
            <!--<tab-heading>-->
                <!--<i class="fa fa-database"></i> {$ 'Storage' | translate $}-->
            <!--</tab-heading>-->
            <!--<div>-->
                <!--<hz-storage></hz-storage>-->
            <!--</div>-->
        <!--</tab>-->

        <!--<tab>-->
            <!--<tab-heading>-->
                <!--<i class="fa fa-globe"></i> {$ 'Network' | translate $}-->
            <!--</tab-heading>-->
            <!--<hz-network></hz-network>-->
        <!--</tab>-->
    <!--</tabset>-->
</div>
