/* ------ GLOBAL ------ */

.app-modal-window .modal-dialog{
  height: 90%;
  width: 90%;
}
.app-modal-window .modal-content{
  height: 100%;
  width: 100%;
}

/* ------ GLOBAL ------ */



.vitrage-alarms {
  .panel-body{
    padding: 0;
  }

  .alarms-list{
    max-height: 288px;
    overflow-y: auto;
  }

  li {
    cursor: pointer;
  }

}
