/* ------ GLOBAL ------ */

.app-modal-window .modal-dialog{
  height: 90%;
  width: 90%;
}
.app-modal-window .modal-content{
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

/* ------ GLOBAL ------ */



.vitrage-alarms {
  table {
    overflow: hidden;
    table-layout: fixed;
  }

  .state-col {
    width:13px;
  }

  .timestamp-col {
    width:65px;
  }

  .name-col {
    width:40px;
  }

  .rca-col {
    width:17px;
  }

  .ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
