<div class="vitrage-information">
    <accordion close-others="false">
        <accordion-group is-open="true" class="accordion-group-text">
            <accordion-heading>{$ 'Information' | translate $}</accordion-heading>
            <accordion-body ui-blocker ui-blocker-delay="0">

                <table class="info-table">
                    <tr>
                        <th class="key-col"></th>
                        <th class="value-col"></th>
                    </tr>
                    <tr ng-repeat="(key,value) in parseSelected track by $index">
                        <td title="{$ key | translate $}">{$ key | translate $}</td>
                        <td title="{$ parseSelected[key] | titleCase $}">{$ parseSelected[key] | titleCase $}</td>
                    </tr>
                </table>

            </accordion-body>
        </accordion-group>
    </accordion>
</div>