.vitrage-compute {

  .visual-legend {
    bottom: 25px;
  }

  .legend-container {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .floating-to-the-left {
    float: left;
    margin-right:10px;
  }

  .more-margin {
    margin-right:35px;
  }

  .circle {
    width: 16px;
    height: 16px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }

  .green-background {
    background: #3DAA00;
  }

  .olive-background {
    background: #97A560;
  }

  .yellow-background {
    background: #FCD20E;
  }

  .red-background {
    background: #BE0006;
  }

  .gray-background {
    background: #AEAEAE;
  }

  .sunburst-container {
    position: relative;
  }
}