<div class="vitrage-compute">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{$ 'Info' |translate$}</h3>
                    </div>
                    <div class="panel-body">
                        <hz-information selected="computeCtrl.model.selected"></hz-information>
                        <!--<hz-stacks></hz-stacks>-->
                        <hz-alarms selected="computeCtrl.model.selected" ></hz-alarms>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{$ 'Topology' |translate$}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12 sunburst-container">
                            <hz-sunburst name="compute" data="computeCtrl.model.computeTopology" selected="computeCtrl.model.selected"></hz-sunburst>

                            <div class="col-md-9">
                                <div class="legend-container">
                                    <div class="circle green-background floating-to-the-left"></div>
                                    <div class="floating-to-the-left more-margin">OK</div>
                                    <div class="circle olive-background floating-to-the-left"></div>
                                    <div class="floating-to-the-left more-margin">TRANSIENT</div>
                                    <div class="circle yellow-background floating-to-the-left"></div>
                                    <div class="floating-to-the-left more-margin">SUBOPTIMAL</div>
                                    <div class="circle red-background floating-to-the-left"></div>
                                    <div class="floating-to-the-left more-margin">ERROR</div>
                                    <div class="circle gray-background floating-to-the-left"></div>
                                    <div class="floating-to-the-left more-margin">N/A</div>
                                </div>
                            </div>

                            <div class="col-md-3 visual-legend">
                                <hz-sunburst-minimap selected="computeCtrl.model.selected"></hz-sunburst-minimap>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
