
.app-modal-window .modal-dialog{
  height: fit-content;
  width: 50%;
  margin-top: 10%;
}
.app-modal-window .modal-content{
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.vitrage-alarms {
  table {
    overflow: hidden;
    table-layout: fixed;
  }

  .state-col {
    width:13px;
  }

  .timestamp-col {
    width:65px;
  }

  .name-col {
    width:40px;
  }

  .rca-col {
    width:17px;
  }

  .ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.vitrage-alarm-banner {
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 0 rgba(255,255,255,0.7);
  padding: 3px;
  margin-top: -4px;
  margin-bottom: -4px;
  padding-left: 18px;

  span {
    vertical-align: baseline;
  }
}
