.entities-toolbox {
  position: absolute;
  right: 18px;
  margin: 12px;
  padding:8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.8);

  .btn-group {
    margin-right: 6px;
    margin-top: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .search {
    width: 150px;
  }

  .search-icon {
    width: inherit;
  }

  .refreshBtn{
    text-align: right;
  }

  .auto-refresh {
    float: right;
    padding-left: 5px;
    padding-top: 2px;
  }

  .heats-filter {
    width: 188px;
    padding-bottom: 10px;
  }
}