<div class="entities-toolbox">

    <div class="input-group input-group-xs heats-filter">
        <select class="form-control" ng-model="selectedHeat">
            <option value="all">All Heat Stacks</option>
            <option ng-repeat="heat in heats track by $index" ng-value="heat.vitrageId">{{heat.name}}</option>
        </select>
    </div>

    <div class="input-group input-group-xs heats-filter" ng-show="selectedHeat !== 'all'">
        <label translate>Detail Level</label>
        <input type="range" min="1" max="4" ng-value="4" ng-model="depthRange" class="slider">
    </div>

    <div class="input-group input-group-xs">
        <span class="input-group-addon search-icon">
            <span class="fa fa-search"></span>
        </span>
        <input type="text" ng-model="searchText" class="form-control search" placeholder="Search">
    </div>

    <div class="btn-group btn-group-xs" role="group">
        <a href="#" class="btn btn-default" ng-click="broadcast('pin')"><span class="fa fa-thumb-tack"></span> Pin</a>
        <a href="#" class="btn btn-default" ng-click="broadcast('unpin')">Unpin</a>

        <div class="themable-checkbox refreshBtn auto-refresh">
            <input type="checkbox" ng-model="autoRefresh" id="themable-checkbox">
            <label for="themable-checkbox" translate>Auto Refresh</label>
        </div>
    </div>



</div>