<div class="entities-toolbox">
    <div class="btn-group btn-group-xs" role="group">
        <a href="#" class="btn btn-default" ng-click="broadcast('pin')"><span class="fa fa-thumb-tack"></span> Pin</a>
        <a href="#" class="btn btn-default" ng-click="broadcast('unpin')">Unpin</a>
    </div>
    <!--<div class="btn-group btn-group-xs" role="group">
        <a href="#" class="btn btn-default" ng-click="broadcast('zoom-to-fit')"><span class="fa fa-expand"></span> Zoom to fit</a>
    </div>
    <div class="btn-group btn-group-xs" role="group">
        <a href="#" class="btn btn-default" ng-click="broadcast('toggle-fullscreen')"><span class="fa fa-square-o"></span> Toggle fullscreen</a>
    </div>-->
</div>