
@import 'layout/main/compute/compute.scss';
@import 'alarmList/alarmList.scss';
@import 'components/sunburst/sunburst.scss';
@import 'components/alarms/alarms.scss';
@import 'components/rca/rootCauseAnalysisGraph.scss';
@import 'components/rca/rcaContainer.scss';
@import 'components/information/information.scss';
@import 'entities/graph/entities-graph.scss';
@import 'entities/info/entities-info.scss';
@import 'entities/toolbox/entities-toolbox.scss';
@import 'entities/entities.scss';
@import 'templateList/templateList.scss';
@import 'components/template/templateContainer.scss';

.badge {
  padding: 3px 15px;
  margin-right: 18px;
}

.badge-red{
  background-color: #FA3C3C;
}
.red {
  color: #FA3C3C;
}

.badge-orange {
  background-color: #fc9d00;
}
.orange {
  color: #fc9d00;
}

.badge-yellow {
  background-color: #FFC600;
}
.yellow {
  color: #FFC600;
}

.badge-green {
  background-color: #87CE53;
}
.green {
  color: #87CE53;
}

.badge-olive {
  background-color: #97A560;
}
.olive {
  color: #97A560;
}

.badge-gray {
  background-color: #AEAEAE;
}
.gray {
  color: #AEAEAE;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}