@import 'layout/main/compute/compute';
@import "alarmList/alarmList.scss";
@import 'components/sunburst/sunburst';
@import 'components/alarms/alarms.scss';
@import 'components/rca/rootCauseAnalysisGraph.scss';
@import 'components/rca/rcaContainer.scss';
@import 'components/alarms/alarms';
@import 'components/rca/rcaContainer';
@import 'components/rca/rootCauseAnalysisGraph';
@import 'components/information/information';

.red {
  color: #FA3C3C;
}

.orange {
  color: #FCD20E;
}

.green {
  color: #87CE53;
}

.gray {
  color: #AEAEAE;
}