<div>
    <!-- ----------------------------------- Node/Cluster ----------------------------------- -->
    <div ng-if="selected.type == 'node' || selected.type == 'openstack.cluster'">
        <img ng-src="{$STATIC_URL$}dashboard/project/assets/cluster.png">
    </div>

     <!-- ----------------------------------- Zone ----------------------------------- -->
    <div ng-if="selected.type == 'nova.zone'">
        <img ng-src="{$STATIC_URL$}dashboard/project/assets/zone.png">
    </div>

    <!-- ----------------------------------- Host----------------------------------- -->
    <div ng-if="selected.type == 'nova.host'">
        <img ng-src="{$STATIC_URL$}dashboard/project/assets/host.png">
    </div>

    <!-- ----------------------------------- VM ----------------------------------- -->
    <div ng-if="selected.type == 'nova.instance'">
        <img ng-src="{$STATIC_URL$}dashboard/project/assets/vm.png">
    </div>
</div>
